@import '../../scss-variables.scss';

.StoryContent {
  background-color: $color-grey-light-1;
  grid-column: col-start 5 / full-end;

  padding: 6rem 12rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  .story-text {
    font-size: 1.5rem;
    font-style: italic;
  }
}
